body {
  margin: 0;
}
div,
ul,
li {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
.img_wrap {
  border-radius: 10px;
  overflow: hidden;
}
.root {
  min-width: 1180px;
  background-color: #ffffff;
}
// ==========================
//============헤더============
// ===========================

.full_header_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
//######헤더-검색#######

.search_box {
  width: 600px;
  padding: 2px;
  background: linear-gradient(
    91deg,
    #7aa3f5 23.73%,
    #c382da 58.12%,
    #f9ab4f 82.09%,
    #f9ab4f 82.1%,
    #f9ab4f 82.1%,
    #f9ab4f 82.11%,
    #ffc540 99.48%
  );
  border-radius: 30px;
  position: relative;
}
.search_box:hover {
  box-shadow: rgba(0, 0, 0, 0.148) 0px 1px 10px;
}
.search_bar {
  display: block;
  width: 100%;
  margin: 0;
  padding: 13px 100px 13px 55px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 25px;
}
.search_btn_bundle,
.logo_daum {
  position: absolute;
}
.logo_daum {
  width: 48px;
  height: 56px;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
}
.search_btn_bundle {
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
.search_btn_bundle > button {
  border: none;
  background: transparent;
}
.search_btn_bundle > button > i {
  color: #ff9e40;
  font-size: 23px;
}
//######헤더-네비게이션#######
.nav {
  display: flex;
  gap: 8px;
  padding-bottom: 40px;
  padding-left: 0;
  margin-bottom: 0;
}
.nav > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #ffffff;
  cursor: pointer;
}
.nav > li:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}
.nav > li:not(:last-child) {
  border-radius: 30px;
}
.nav > li:last-child {
  padding: 0 15px;
  border-radius: 50%;
}
.nav_icon {
  display: block;
  width: 24px;
}
.nav > li:last-child > a {
  color: gray;
  font-weight: 900;
}
// ==========================
//============메인===========
// ===========================
.full_main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main_box_style {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 15px;
}
// ===================메인 왼쪽 박스====================
.full_main_left {
  width: 768px;
  margin-right: 16px;
}
// ===================왼쪽 광고 1,2=====================

.left_ad {
  padding: 20px;
  margin-bottom: 16px;
}
.left_ad_inner {
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.left_ad_inner::after {
  content: 'AD';
  display: block;
  padding: 0 3px;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.left_ad_1_img {
  background: url(./img/left_ad_1.jpg);
}
.left_ad_2_img {
  background: url(./img/left_ad_2.jpg);
}
.left_ad_1_img,
.left_ad_2_img {
  width: 200px;
  height: 95px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo_ybm {
  width: 16px;
  margin-right: 5px;
  vertical-align: top;
}
.left_ad_content {
  flex-grow: 1;
  padding-left: 20px;
  background-color: #f2f4f7;
}
.left_ad_content > p {
  color: gray;
}
.left_ad_content > p:first-child {
  margin-bottom: 5px;
  font-size: 12px;
}
.left_ad_content > p:last-child {
  margin: 0;
  font-size: 14px;
}
.left_ad_content > h2 {
  margin: 0;
}
// ===================왼쪽 뉴스,연예,스포츠================

.left_topic {
  margin-bottom: 16px;
}
.left_topic_header {
  margin-bottom: 16px;
}
.left_topic_header > ul {
  display: flex;
  align-items: center;
  padding: 20px 24px 16px;
  margin: 0;
}
.left_topic_title {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}
.left_topic_title > button {
  border: none;
  background: transparent;
  font-size: 20px;
  vertical-align: middle;
}
.left_topic_title > img {
  width: 40px;
}
.interest_title_img,
.entertain_title_img,
.sport_title_img,
.cafe_title_img {
  width: 40px;
  height: 40px;
  background: url(./img/이미지모음2.png);
  background-size: 200px 200px;
}
.entertain_title_img {
  background-position: -45px 0;
}
.sport_title_img {
  background-position: -90px 0;
}
.interest_title_img {
  background-position: -45px -45px;
}
.cafe_title_img {
  background-position: 0 -45px;
}
.left_topic_title span {
  display: inline-block;
  color: gray;
  transition: 0.5s;
}
.left_topic_title:hover span {
  transform: rotate(90deg);
}
.left_topic_category_btn {
  background: transparent;
  border: 1px solid #ddd;
  font-size: 15px;
}
.left_topic_category_btn:hover {
  background-color: #eeeeee6f;
}
.top_news_btn,
.entertain_synthesis_btn,
.sport_synthesis_btn,
.interest_recommend_btn,
.cafe_btn,
.left_topic_category_btn {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 30px;
}
.cafe_btn,
.interest_recommend_btn,
.entertain_synthesis_btn,
.top_news_btn,
.sport_synthesis_btn {
  font-size: 16px;
  border: none;
}
.cafe_btn {
  background-color: #f5dcde;
  color: #f74853;
}
.cafe_btn:hover {
  background-color: #f748545e;
}
.interest_recommend_btn {
  background-color: #ffeedd;
  color: #ff8b17;
}
.interest_recommend_btn:hover {
  background-color: #ff8b1763;
}
.entertain_synthesis_btn {
  background-color: #f0e5ff;
  color: #9148f7;
}
.entertain_synthesis_btn:hover {
  background-color: #9148f74a;
}
.top_news_btn,
.sport_synthesis_btn {
  background-color: #dce4f5;
  color: #4881f7;
}
.top_news_btn:hover,
.sport_synthesis_btn:hover {
  background-color: #d4dff8;
}
.left_topic_content {
  display: flex;
  align-items: flex-start;
  padding: 0 24px;
  margin-bottom: 13px;
}
.left_topic_content_left {
  width: 50%;
  padding-right: 11px;
  padding-left: 0;
  margin: 0;
}
.left_topic_content_card {
  float: left;
  width: 50%;
  padding-right: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.left_topic_content_card:hover img {
  transform: scale(1.1);
}

.left_topic_content_card img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

.left_topic_content_card > p {
  margin: 5px 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left_topic_content_card:hover > p,
.left_topic_content_right > li:hover {
  color: #555;
}
.left_topic_content_card > span {
  color: gray;
}
.left_topic_content_right {
  width: 50%;
  margin-top: 0;
  padding-left: 0;
}
.left_topic_content_right > li {
  padding: 8px 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.left_topic_content_right > li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.left_topic_footer {
  padding: 13px 0;
  border-top: 1px solid #eee;
  text-align: center;
}
// ================왼쪽 관심 키워드====================
.interest_articles {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-gap: 13px;
  padding: 0 24px;
}
.interest_articles img {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 10px;
}
.interest_articles > li {
  cursor: pointer;
}
.interest_articles > li > p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.interest_article_small:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.interest_article_small_p1 {
  margin: 6px 0 0;
}
.interest_article_small_p2 {
  margin: 0 0 6px;
}
.interest_article_big {
  grid-column: 1/3;
  grid-row: 1/2;
  overflow: hidden;
  border-radius: 10px;
}
.interest_article_big_inner {
  height: 100%;
  padding: 10px;
  background-image: url(./img/차.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all 0.5s;
}
.interest_article_big:hover > .interest_article_big_inner {
  transform: scale(1.1);
}
.interest_article_big_inner > h3 {
  margin: 0;
}
.interest_article_big_inner > span {
  color: gray;
}
.interest_article_small > span {
  color: gray;
}
.interest_article_small > span::before {
  display: inline-block;
  content: '맛집';
  color: orange;
}
// ================왼쪽 카페====================
.cafe_posts_wrap {
  display: flex;
}
.cafe_posts_inner {
  width: 50%;
  padding: 0 24px;
  margin: 0;
}
.cafe_post_card {
  display: flex;
  gap: 13px;
  margin-bottom: 16px;
  cursor: pointer;
}
.cafe_post_card:hover img {
  transform: scale(1.1);
}
.cafe_post_card_order {
  font-size: 25px;
  font-weight: bold;
}
.cafe_post_card_content > p {
  margin-top: 0;
  margin-bottom: 5px;
}
.cafe_post_card > .img_wrap {
  max-width: 40%;
}
.cafe_post_card img {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all 0.2s;
}
.cafe_post_comment {
  color: gray;
}
// ================왼쪽 오늘의 이슈====================
.left_today_issue {
  padding: 20px 24px;
  margin-bottom: 16px;
  background-color: #766ca0;
  color: white;
  border-radius: 15px;
  z-index: 97;
}
.left_today_issue a {
  color: white;
}
.left_today_issue_title {
  position: relative;
}
.left_today_issue_title > h2 {
  padding-left: 90px;
  margin-top: 0;
}
.left_today_issue_title > video {
  position: absolute;
  top: -10px;
  z-index: 98;
}
.left_today_issue_content {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.left_today_issue_today_bubble {
  margin-right: 13px;
}
.left_today_issue_today_bubble,
.seen_a_lot_list {
  width: 50%;
  padding: 15px;
  background-color: #8d84ad;
  border-radius: 10px;
  z-index: 99;
}
.left_today_issue_content h3 {
  margin-top: 0;
}
.left_today_issue_content h3::before {
  content: '#';
  margin-right: 10px;
  padding: 2px 7px;
  border-radius: 10px;
  background-color: white;
  color: #766ca0;
}
.left_today_issue_today_bubble > button {
  max-width: 120px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 13px;
  border: none;
  border-radius: 30px;
  background-color: #a9a2c3;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.left_today_issue_today_bubble > button:hover {
  background-color: rgba(255, 255, 255, 0.34);
}
.seen_a_lot_list {
  display: flex;
  flex-direction: column;
}
.seen_a_lot_list_ol {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.seen_a_lot_list_ol > li {
  flex-grow: 1;
}
.seen_a_lot_list_ol a {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.seen_a_lot_list_ol a:hover {
  color: rgba(255, 255, 255, 0.637);
}
.seen_a_lot_list_ol a:hover b {
  color: white;
}
.seen_a_lot_list_ol_marker {
  margin-right: 5px;
  padding: 0 5px;
  background-color: #a099bc;
  border-radius: 50%;
}
// ===================메인 오른쪽 박스=====================
.full_main_right {
  width: 384px;
  position: sticky;
  top: 0;
}
// ===================오른쪽 로그인=====================
.login {
  padding: 20px 24px 24px;
  margin-bottom: 16px;
}
.login_request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  color: gray;
  font-size: 14px;
}
.login_request > p {
  margin: 0;
}
.login_info_btn {
  padding: 0 7px;
  background: transparent;
  color: inherit;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 16px;
}
.login_with_kakao_btn {
  display: block;
  width: 100%;
  padding: 17px 0;
  background-color: #fee500;
  border: none;
  border-radius: 30px;
  font-size: 14px;
}
.login_with_kakao_btn:hover {
  background-color: #f5dd03;
}
.login_with_kakao_btn > i {
  padding-right: 7px;
  font-size: 13px;
}
// ===================오른쪽 날씨=====================
.weather_box {
  padding: 0 24px;
  margin-bottom: 16px;
  cursor: pointer;
}
.weather_icon {
  width: 40px;
  height: 40px;
  margin-top: 24px;
  margin-right: 10px;
  background: url(./img/img_weather.png) no-repeat;
  background-size: 400px 200px;
  background-position: 0 0;
}
.weather_box:hover > .weather_content > h3,
.weather_box:hover > .weather_temp > h3,
.shopping_products > li:hover span,
.full_footer a:not(:nth-child(11), :nth-child(12)):hover,
.interest_article_small:hover > p,
.cafe_post_card:hover > .cafe_post_card_content > p {
  color: rgba(0, 0, 0, 0.491);
}
.weather_icon,
.weather_content {
  float: left;
}
.weather_content > h3,
.weather_temp > h3 {
  margin-bottom: 0;
}
.weather_content > p,
.weather_temp > p {
  margin: 5px 0 20px;
}
.weather_temp {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather_temp > p:last-child {
  color: gray;
}
// ===================오른쪽 광고 =====================
.right_ad {
  padding: 20px 42px;
  margin-bottom: 16px;
  cursor: pointer;
}
.right_ad > img {
  display: block;
  width: 100%;
}
.right_ad_content {
  padding: 0 10px;
  border: 1px solid #ddd;
}
.right_ad_content > h4 {
  margin: 10px 0 0;
}
.right_ad_content > p {
  margin: 5px 0 50px;
  color: gray;
  font-size: 14px;
}

// ===================오른쪽 쇼핑=====================
.shopping {
  padding: 24px 20px;
  margin-bottom: 16px;
}
.left_today_issue_content::after,
.shopping_nav::after,
.weather_box::after,
.stock_header::after {
  content: '';
  display: block;
  clear: both;
}
.shopping_nav > button:first-child {
  float: left;
  margin-left: -5px;
  padding: 5px 10px;
  background: transparent;
  border: none;
  font-size: 20px;
}
.auction_btn,
.g-market_btn {
  float: right;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #eee;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
.auction_btn:hover,
.g-market_btn:hover {
  background-color: #dfdede;
}
.auction_btn > img,
.g-market_btn > img {
  width: 20px;
  padding-right: 2px;
  vertical-align: sub;
  border-radius: 50%;
}
.shopping_link_collection > p {
  text-align: justify;
  line-height: 1.5;
}
.shopping_link_collection a {
  color: #333;
}
.shopping_link_collection a:not(:last-child)::after {
  content: '·';
  padding-left: 4px;
  color: gray;
}
.shopping_products > li:hover img {
  transform: scale(1.1);
}
.shopping_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 13px;
}
.shopping_products img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: 0.5s;
}
.shopping_products span {
  display: block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopping_footer {
  margin-top: 16px;
  text-align: center;
  position: relative;
}
.shopping_footer::after,
.hot_deal_footer_btn_box::after {
  content: 'AD';
  display: block;
  padding: 1px 5px;
  font-size: 10px;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page_btn {
  padding: 5px 13px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: transparent;
  font-size: 30px;
}
.page_btn:hover {
  background-color: #eee;
}
// ===================오른쪽 증권=====================
.stock {
  margin-bottom: 16px;
}
.stock_header {
  padding: 20px 24px 0;
}
.stock_header > button:first-child {
  float: left;
  padding: 5px 10px;
  font-size: 20px;
  background: transparent;
  border: none;
}

.stock_header > button:last-child {
  padding: 7px 7px 0;
  float: right;
  font-size: 20px;
  color: gray;
  background: transparent;
  border: none;
}
.stock_header > button:last-child:hover {
  background-color: #eee;
  border-radius: 50%;
}
.stock_content {
  display: flex;
  justify-content: stretch;
  padding: 16px 24px 20px;
  margin: 0;
  list-style: none;
}
.stock_content_card {
  padding-left: 10px;
  flex-grow: 1;
  cursor: pointer;
}
.stock_content_card:hover {
  background-color: #eee;
  border-radius: 10px;
}
.stock_content_card:not(:last-child) {
  border-right: 1px solid #eee;
}
.stock_content_card > p:not(:last-child) {
  margin-top: 0;
  margin-bottom: 5px;
}
.stock_content_card > p:last-child {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f7dbd6;
  color: #ff553b;
  font-size: 14px;
}

// ===================오른쪽 핫딜=====================
.hot_deal {
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.hot_deal_header {
  padding: 20px 24px 0;
}
.hot_deal_header > button {
  font-size: 20px;
  background: transparent;
  border: none;
  padding: 5px 10px;
}
.stock_header > button:first-child:hover,
.hot_deal_header > button:hover,
.left_topic_title:hover,
.shopping_nav > button:first-child:hover {
  background-color: #eee;
  border-radius: 30px;
}
.hot_deal_header > button > span,
.stock_header > button:first-child > span,
.shopping_nav > button:first-child > span {
  color: gray;
}
.hot_deal_products {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  grid-gap: 13px;
}
.hot_deal_products a > span {
  display: block;
}
.hot_deal_products a > span:nth-child(2) {
  margin: 10px 0 5px;
}
.hot_deal_products > li:hover img {
  transform: scale(1.1);
}
.hot_deal_products img {
  display: block;
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}
.hot_deal_products .img_wrap {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.hot_deal_discount {
  color: #ff553b;
}
.hot_deal_collabo_box {
  padding: 0 24px;
  font-size: 15px;
}
.hot_deal_collabo_box > p:hover {
  background-color: #e1dfdf;
}
.hot_deal_collabo_box > p {
  background-color: #eee;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.hot_deal_collabo_box img {
  display: inline-block;
  width: 55px;
  margin-bottom: 1px;
}
.hot_deal_footer_btn_box {
  text-align: center;
  position: relative;
}
// ==========================
//============푸터===========
// ===========================
.full_footer_inner {
  max-width: 1168px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
}
.full_footer a {
  text-decoration: none;
  color: inherit;
}
.footer_notice_box,
.footer_link_box {
  padding-left: 0;
  list-style: none;
}
.footer_notice_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin: 50px 0 0;
  border-bottom: 1px solid #ddd;
}
.footer_notice_box button {
  background: transparent;
  border: none;
}
.full_footer strong {
  cursor: pointer;
}

.full_footer strong:hover {
  color: rgba(145, 62, 62, 0.779);
}
.footer_notice_box button > span {
  color: gray;
  vertical-align: top;
}
.footer_link_box {
  margin: 0;
  padding: 30px 0 75px;
}
.footer_link_box a:not(:last-child)::after {
  content: '·';
  padding-left: 5px;
}
.footer_link_box > li:not(:last-child) {
  margin-bottom: 13px;
}

.footer_link_box > li:last-child::before {
  content: '©';
  padding-right: 5px;
}
