body {
  margin: 0;
}
div,
ul,
li {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
.root {
  overflow: auto;
}
.cl-navy {
  color: #003567;
}
/* /////////////////////////헤더/////////////////////// */
/* 헤더공통 */
.intro_inner,
.search_inner,
.nav_inner {
  width: 1400px;
  margin: 0 auto;
}
/* 인트로 */
.intro_area {
  background-color: #4e617e;
  color: white;
}
.intro_txt {
  padding: 10px 0;
}
/* 검색박스 */
.search_area,
.nav {
  border-bottom: 1px solid #ddd;
}
.search_inner {
  display: flex;
  align-items: center;
}
.logo_wrap,
.lang_wrap {
  flex-grow: 1;
  flex-basis: 0;
}
.search_wrap {
  display: flex;
  margin: 20px 0;
}
.select_wrap,
.search_input_wrap {
  background-color: #f2f6f9;
}
.select_wrap {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.search_input_wrap {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
}
.select_wrap > select,
.search_input_wrap > input {
  background-color: transparent;
  border: none;
  outline: none;
}
.select_wrap > select {
  padding: 15px 50px 15px 20px;
  font-size: 14px;
  font-weight: 600;
}

.select_wrap > select:focus {
  border: 1px solid black;
  border-radius: 0;
}
.search_input_wrap > input {
  padding: 15px 55px 15px 15px;
  width: 500px;
  font-size: 16px;
  box-sizing: border-box;
}
.search_input_wrap > i {
  padding: 11px;
  background-color: #003567;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.lang_wrap {
  text-align: end;
  font-weight: 500;
}
.nav_inner {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.nav_inner > li {
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
}
.hamburger_menu {
  width: 40px;
  height: 25px;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
}

.hamburger_menu > li {
  height: 3px;
  background-color: gray;
  border-radius: 20px;
  position: absolute;
  right: 0;
}
.hamburger_menu > li:first-child {
  width: 70%;
  top: 0;
}
.hamburger_menu > li:nth-child(2) {
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.hamburger_menu > li:last-child {
  width: 70%;
  bottom: 0;
}
/* /////////////////////////메인/////////////////////// */
/* 메인  */
.main {
  position: relative;
}
.gray_background {
  width: 100%;
  height: 330px;
  background-color: #f2f6f9;
  position: absolute;
  top: 0;
  z-index: -99;
}
.section1_inner,
.section2_inner {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
/* 메인 섹션1 */

.section1_left,
.section2_left {
  flex-basis: 0;
  flex-grow: 2;
}
.section1_right,
.section2_right {
  flex-basis: 0;
  flex-grow: 1;
}
/* 섹션1왼쪽 */

.section1_left_img_wrap {
  position: relative;
}
.section1_left_img_wrap > img {
  display: block;
}
.section1_right_img_btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section1_right_img_btn > button {
  margin-left: -3px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  border: none;
}
.indicator_box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: 1px solid #ddd;
}
.indicator_tit {
  margin: 0;
  padding: 25px;
  background-color: #003567;
  color: white;
  position: relative;
}
.indicator_tit > button {
  padding: 5px 10px;
  background-color: #6b7e9d;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.indicator_txt {
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
}
.indicator_txt > p {
  margin: 0;
}
.indicator_txt .year,
.indicator_txt .unit,
.perp_bar {
  color: gray;
}
.indicator_txt b {
  display: inline-block;
  margin-top: 5px;
  font-size: 23px;
}
.indicator_txt .unit {
  padding-left: 5px;
  font-size: 16px;
}
.indicator_page_btn_wrap {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.indicator_page_btn_wrap > button {
  flex-grow: 1;
  display: block;
  padding: 0 10px;
  background-color: white;
  border: 1px solid #ddd;
}
.report_box {
  margin-top: 50px;
}
.report_tap_menu {
  display: flex;
  gap: 20px;
  position: relative;
}
.report_tap_menu .top_line {
  width: 50px;
  height: 2px;
  background-color: #0058a2;
  position: absolute;
  top: 0;
  left: 0;
}
.report_tap_menu > li:first-child {
  color: #0058a2;
}
.report_tap_menu > li {
  cursor: pointer;
}
.report_card_collection,
.hire_card_collection {
  display: flex;
  gap: 20px;
}
.report_card,
.hire_card {
  padding: 30px;
  border: 1px solid #ddd;
  position: relative;
}
.report_card > h3 {
  margin: 0 0 30px;
}
.report_card > p {
  margin: 0 0 10px;
  max-width: 80%;
}

.report_card > p {
  color: #333;
}
.report_card > span {
  font-size: 14px;
  color: gray;
}

.report_card > button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: all 0.5s;
}
.report_card > button:hover {
  transform: rotate(180deg);
}
.report_card > button::before,
.report_card > button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.report_card > button::after {
  transform: rotate(90deg);
}

/* 섹션1오른쪽 */

.section1_right_card {
  margin-bottom: 11px;
  background-color: white;
  position: relative;
}
.section1_right_card > h3 {
  padding: 0 20px;
  margin: 20px 0 0;
}
.section1_right_card > p {
  padding: 0 20px;
  margin: 16px 0 20px;
  font-size: 14px;
  font-weight: 500;
  transform: rotate(0.1deg);
}
.card_blue {
  border: 2px solid #7f9ab3;
}

.card_blue > img,
.chat_bot_img,
.card_green > img,
.card_purple > img,
.card_brown > img,
.card_purple > img {
  position: absolute;
}
.card_blue > img {
  display: block;
  width: 90px;
  right: 50px;
  bottom: 15px;
}
.chat_bot_img {
  width: 130px;
  height: 103px;
  background-image: url(./img/search.png);
  background-position: 0 0;
  background-size: cover;
  right: -65px;
  bottom: -10px;
}
.card_green {
  border: 2px solid #8fbc87;
}
.card_green > h3 {
  color: #1f7a10;
}
.card_brown {
  border: 2px solid #d6ae91;
}
.card_brown > h3 {
  color: #ad6038;
}
.card_purple {
  border: 2px solid #b79ec1;
}
.card_purple > h3 {
  color: #794c8b;
}
.card_green > img,
.card_brown > img,
.card_purple > img {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.section1_right_link_box {
  width: 100%;
  border-collapse: collapse;
}
.section1_right_link_box td {
  width: 50%;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #ddd;
}

/* 섹션2 */
/* 섹션2왼쪽 */
.hire_card > span:first-child,
.hire_card > span:nth-child(3) {
  color: gray;
  font-size: 14px;
}
.hire_card > p:nth-child(2) {
  margin: 5px 0 30px;
  font-weight: 600;
  font-size: 20px;
}
.hire_card > button {
  padding: 20px 11px;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  color: #333;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
