<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이름</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="nav-bar">
      <div class="nav-center">
        <h1>LOGO</h1>
        <div class="nav-search">
          <input type="text" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    <!-- 메뉴 바 -->
    <div class="menu-bar">
      <div class="menu-center">
        <div class="menu-ani-bar"></div>
        <ul class="menu-list">
          <li><a href="#">랭킹</a></li>
          <li><a href="#">차트</a></li>
          <li><a href="#">기타</a></li>
        </ul>
      </div>
    </div>
    <!-- 메인 영역 -->
    <div class="main-area">
      <div class="main-center">
        <!-- 도시 선택 영역 -->
        <div class="main-city-select-area">
          <select name="" id="largeCity" class="si">
            <option value="" disabled selected>시/도</option>
            <option th:each="l : ${list}" th:value="${l.code}">
              [[${l.name}]]
            </option>
          </select>
          <select name="" id="middleCity" class="gun">
            <option value="" disabled selected>군/구</option>
          </select>
          <select name="" id="" class="dong">
            <option value="" disabled selected>동</option>
          </select>
        </div>
        <!-- 날씨 선택 영역 -->
        <div class="main-weather-select-area">
          <select name="" id="" class="dong">
            <option value="" disabled selected>날짜</option>
          </select>
          <button type="button">조회</button>
        </div>
        <!-- 메인 내용 -->
        <div class="main-article-area">
          <table class="main-table">
            <thead>
              <tr>
                <th>순위</th>
                <th><a href="#">지역</a></th>
                <th><a href="#">이름</a></th>
                <th><a href="#">가격</a></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="list, count : ${maxList}">
                <td th:text="${count.index + 1}"></td>
                <td>[[${list.small_city_name}]]</td>
                <td>[[${list.apt_name}]]</td>
                <td>[[${list.amount}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/static/main.js"></script>
  </body>
</html>
