body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.nav {
  background-color: #aaa;
}
.nav-container {
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.nav-logo {
  margin: 0;
  color: white;
  font-weight: 500;
}
.nav-menu {
  margin: 0;
}
.nav-list {
  display: inline-block;
  margin-right: 20px;
}
.nav-list a {
  text-decoration: none;
  color: white;
}
.nav-list:first-child a {
  color: pink;
}
.main {
  background-color: #eee;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.search-area {
  padding: 10px 0;
}
.search-input {
  font-size: 1rem;
  padding: 5px;
}
.products-area {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.card {
  max-width: 25%;
  padding: 10px 20px;
  background-color: white;
}
.card-img {
  width: 100%;
}
.card-title {
  margin-bottom: 0;
}
.card-brand {
  margin-top: 10px;
  color: gray;
  font-size: 0.9rem;
}
.add-btn {
  padding: 5px 10px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.cart-gray {
  margin-top: 10px;
  background-color: #ccc;
  padding: 20px;
}
.cart-title {
  margin: 0;
  margin-bottom: 10px;
}
.cart-black {
  min-height: 400px;
  padding: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag-here {
  color: white;
}
