body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
.nav-bar {
  background-color: black;
  color: white;
}
.nav-bar a {
  color: gray;
  text-decoration: none;
  margin: 0 10px;
}
.nav-flex {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.nav-logo {
  margin: 0;
  font-weight: 400;
}
.nav-list {
  display: inline-block;
}
.nav-list:first-child a {
  color: white;
}
.main-area {
  background-color: #eee;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.search-area {
  padding: 20px 0;
}
.search-input {
  font-size: 1.2rem;
  padding: 5px;
}
.products-area {
  display: flex;
  gap: 20px;
}
.products-card {
  background-color: white;
  padding: 20px;
  max-width: 25%;
}
.card-img {
  width: 100%;
}
.products-name {
  margin-bottom: 10px;
}
.products-brand {
  margin: 0;
  color: gray;
}
.black-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.cart-gray {
  margin-top: 20px;
  padding: 20px;
  background-color: #ccc;
}
.cart-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.cart-black {
  padding: 30px;
  min-height: 400px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
