@charset "UTF-8";
div,
ul,
li {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.ft-2 {
  font-size: 13px;
}

.ft-3 {
  font-size: 14px;
}

.bg-black {
  background-color: black;
}

.cl-blue {
  color: #3a67ea;
}

.cl-white {
  color: white;
}

.cl-black {
  color: black;
}

.cl-gray {
  color: gray;
}

.root {
  padding: 0 20px;
  min-width: 1280px;
  margin: 0 auto;
}

.main_box_border {
  border: 1px solid #dfdddd;
  border-radius: 10px;
}

.header_container {
  position: relative;
}

.header_ad_img {
  width: 250px;
  position: absolute;
  right: 30px;
  bottom: -10px;
  cursor: pointer;
}

.nav {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left,
.nav_right {
  display: flex;
  gap: 20px;
}

.nav_left {
  gap: 10px;
}

.nav_right {
  gap: 5px;
}

.hamburger_menu_wrap,
.talk_menu_wrap,
.alarm_menu_wrap,
.cart_menu_wrap,
.naver-pay_menu_wrap {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.hamburger_menu_wrap:hover,
.talk_menu_wrap:hover,
.alarm_menu_wrap:hover,
.cart_menu_wrap:hover,
.naver-pay_menu_wrap:hover {
  background-color: #eee;
}

.hamburger_menu {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  position: relative;
}

.hamburger_line {
  background-color: black;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  position: absolute;
}

.hamburger_line:nth-child(1) {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger_line:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger_line:nth-child(3) {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.naver-pay_menu {
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(./img/sp_main.e0b0b60f.png);
  background-size: 458px 444px;
  background-position: -326px -33px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.talk_menu,
.alarm_menu,
.cart_menu {
  background-image: url(./img/sp_main.e0b0b60f.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.talk_menu {
  background-size: 458px 444px;
  background-position: -326px -165px;
}

.alarm_menu {
  background-size: 458px 444px;
  background-position: -246px -229px;
}

.cart_menu {
  background-size: 458px 444px;
  background-position: -326px -99px;
}

.search_area {
  display: flex;
  justify-content: center;
}

.search_group {
  position: relative;
}

.search_input {
  width: 510px;
  padding: 12px 120px 12px 60px;
  font-weight: 500;
  font-size: 30px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  outline: none;
}

.search_input:focus {
  display: block;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.naver_icon {
  position: absolute;
  left: 25px;
  top: 32px;
  transform: translateY(-50%);
  cursor: pointer;
}

.wrap_icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 20px;
}

.keyboard_icon {
  display: block;
  width: 24px;
  height: 14px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e0b0b60f.png);
  background-size: 458px 444px;
  background-position: -240px -270px;
  background-repeat: no-repeat;
  border: none;
}

.downward_icon {
  border: none;
  background-color: transparent;
  color: gray;
  margin-left: 4px;
}

.search_icon {
  color: #03c75a;
  border: none;
  background-color: transparent;
  font-size: 25px;
}

.link_group {
  padding-left: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 13px;
  text-align: center;
}

.link_area_btn {
  display: block;
  background-image: url(./img/sp_main.e0b0b60f.png);
  background-repeat: no-repeat;
  background-size: 458px 444px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 15px;
  margin-bottom: 6px;
}

.link_area_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.link_area a {
  color: black;
}

.mail_btn {
  background-size: 458px 444px;
  background-position: -244px -41px;
}

.cafe_btn {
  background-position: -86px -184px;
}

.blog_btn {
  background-position: -45px -184px;
}

.shopping_btn {
  background-position: -164px -229px;
}

.news_btn {
  background-position: -82px -229px;
}

.stock_btn {
  background-position: -285px 0px;
}

.real-estate_btn {
  background-position: -123px -229px;
}

.map_btn {
  background-position: -244px -82px;
}

.webtoon_btn {
  background-position: -285px -41px;
}

.chijijik_btn {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 15px;
  cursor: pointer;
}

.chijijik_img {
  display: block;
  width: 100%;
  height: 100%;
}

.chijijik_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.see-more_btn {
  background-position: -41px -229px;
}

.main_container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.main_left_group {
  width: 830px;
}

.main_left_ad_area {
  width: 100%;
  margin-bottom: 20px;
}

.main_left_ad_img {
  width: 100%;
  border-radius: 10px;
}

.main_right_group {
  flex-grow: 1;
}

.news_stand_header {
  display: flex;
  gap: 10px;
  padding: 0 20px;
  font-size: 17px;
  margin: 20px 0;
}

.news_stand_header_li:first-child::after {
  content: "·";
  display: inline-block;
  font-weight: 900;
  margin: 0 10px;
}

.news_stand_header_li:not(:first-child, :last-child)::after {
  content: "/";
  color: gray;
  display: inline-block;
  margin: 0 10px;
}

.news_sport_category {
  padding: 0 20px;
}

.news_sport_category_ul {
  padding: 15px 20px;
  background-color: #f5f7f8;
  border-radius: 5px;
  margin: 20px 0;
}

.news_sport_category_ul::after {
  clear: both;
  content: "";
  display: block;
}

.news_sport_category_li:not(:last-child, :nth-child(9)) {
  margin-right: 10px;
}

.news_sport_category_li:not(:last-child, :nth-child(9)):after {
  content: "·";
  display: inline-block;
  font-weight: 900;
}

.news_sport_category_li:not(:last-child) {
  float: left;
}

.news_sport_category_li:last-child {
  float: right;
}

.news_stand_grid_container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.news_stand_img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}

.news_stand_grid_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news_stand_grid_item > a {
  color: black;
}

.news_stand_footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #dfdddd;
}

.shopping_area {
  margin: 20px 0;
}

.shopping_header_ul {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.shopping_header_ul > li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.shop_link_ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9fbfd;
}

.shop_link_li::after {
  content: "·";
  display: inline-block;
  margin-right: 3px;
}

.shop_shortcut_link_ul {
  background-color: #f9fbfd;
  display: flex;
  gap: 10px;
}

.shop_shortcut_link_li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_shortcut_link_li:not(:last-child)::before,
.white_circle::before {
  content: "";
  display: block;
  background-image: url(./img/shortcut.png);
  background-size: 158px 137px;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  background-color: white;
  border-radius: 50%;
}

.shop_shortcut_link_li:nth-child(2)::before {
  background-position: -68px -34px;
}

.shop_shortcut_link_li:nth-child(3)::before {
  background-position: -34px -34px;
}

.white_circle {
  width: 33px;
  height: 33px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white_circle::before {
  background-position: -19px -121px;
  width: 17px;
  height: 17px;
}

.main_right_group {
  width: 420px;
}

.login_area {
  padding: 20px;
  text-align: center;
}

.login_link {
  display: flex;
  gap: 10px;
}

.login_btn {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #03c75a;
}

.login_btn > span {
  font-size: 20px;
  font-weight: 900;
  padding-right: 5px;
}

.weather_area {
  padding: 10px 20px;
  margin-top: 20px;
}

.weather_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdddd;
}

.weather_header_left {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather_img {
  width: 180px;
  cursor: pointer;
}

.stock_market_area {
  padding: 10px 20px 20px;
  margin: 20px 0;
}

.stock_market_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock_market_header_left {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.stock_market_main {
  display: flex;
}

.stock_market_img {
  width: 50%;
  border-bottom: 1px solid #dfdddd;
}

.stock_list {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dfdddd;
}

.stock_list > li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #dfdddd;
}

.main_left_ad_img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.widget_area {
  background-color: #f4f6fa;
  padding: 10px 20px;
}

.widget_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr min-content;
  grid-gap: 10px;
  padding-left: 0;
}

.widget_login_link > a {
  color: gray;
  font-size: 14px;
  text-decoration: underline;
}

.widget_grid_item {
  background-color: white;
}

.widget_calender_ul,
.widget_memo_ul {
  height: 100%;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  align-items: stretch;
}

.widget_calender_ul > li,
.widget_memo_ul > li:not(:first-child) {
  padding: 0 15px;
}

.widget_title {
  margin: 10px 0;
}

.calender_date {
  font-size: 30px;
  padding-right: 5px;
}

.widget_memo_ul > li:first-child {
  background-color: #03c75a;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 1px;
}

.widget_memo_ul > li:not(:first-child, :last-child) {
  border-bottom: 1px solid #dfdddd;
}

.widget_login_link {
  display: flex;
  align-items: center;
}

.memo_border_yellow {
  height: 100%;
  border-bottom: 1px dashed yellow;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.memo_border_yellow > .widget_title {
  margin: 0;
}

.widget_papago {
  padding: 0 10px 15px;
}

.papago_center_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.papago_img {
  margin-top: 10px;
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e0b0b60f.png);
  background-size: 458px 444px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 78px;
  height: 68px;
}

.translate_btn {
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #00a2ff;
  padding: 10px 0;
  border-radius: 30px;
}

.widget_en_dictionary {
  position: relative;
  padding-bottom: 50px;
}

.widget_en_dictionary > .widget_title {
  padding: 0 15px;
}

.widget_dictionary_p {
  font-size: 20px;
  padding: 0 15px;
}

.dictionary_search_btn {
  background: none;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.dictionary_search_btn > .fa-magnifying-glass {
  font-size: 20px;
  border: 1px solid #dfdddd;
  padding: 10px;
  border-radius: 50%;
}

.widget_vibe {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0 10px 10px;
}

.widget_vibe_nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other_recommend_link {
  color: gray;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.vibe_card {
  display: flex;
  padding: 0 15px;
  gap: 20px;
}

.vibe_card_img {
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.vibe_card a {
  color: black;
}

.mobile_naver_main_link {
  position: relative;
  cursor: pointer;
}

.mobile_naver_main_link > a {
  color: black;
}

.mobile_naver_main_link::before {
  vertical-align: top;
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e0b0b60f.png);
  background-size: 458px 444px;
  background-position: -388px -198px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.mobile_naver_main_link::after {
  content: ">";
  position: absolute;
  right: 0;
}

.sale_ad_area {
  padding: 0 15px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sale_ad_area_ul {
  padding-left: 0;
}

.sale_ad_area_p {
  margin: 5px 0;
}

.gang_sale_img {
  display: block;
  width: 50px;
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=style.css.map */