html {
  line-height: 1.5;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
div,
footer,
header,
section,
main,
ul,
li {
  box-sizing: border-box;
}

@mixin textAlign($val) {
  .text-#{$val} {
    text-align: $val;
  }
}

@mixin bgColor($color) {
  .bg-#{'' + $color} {
    background-color: $color;
  }
}

@mixin letterColor($color) {
  .cl-#{'' + $color} {
    color: $color;
  }
}

@include bgColor(black);
@include letterColor(white);
@include letterColor(gray);
@include textAlign(center);
@include textAlign(end);

@mixin flex($jus, $align, $gap) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  gap: $gap;
}
