body {
  margin: 0;
}

header,
div,
section,
footer,
article,
ul {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 0 10px;
  max-width: 1008px;
  margin: 0 auto;
}

.bg-orange {
  background-color: #ff8a00;
}

.bg-white {
  background-color: white;
}

.bg-bright-red {
  background-color: #fa0050;
}

.color-black {
  color: black;
}

.color-gray {
  color: gray;
}

.color-white {
  color: white;
}

.color-bright-red {
  color: #fa0050;
}

.font-most-sm {
  font-size: 12px;
}

.font-sm {
  font-size: 13px;
}

.font-basic {
  font-size: 16px;
}

.font-big {
  font-size: 20px;
}

.font-most-big {
  font-size: 25px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yogiyo-logo-white {
  width: 90px;
  height: 50px;
  margin: 12px 0;
  background-image: url(./img/logo-yogiyo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.login-btn {
  width: 150px;
  padding: 5px 0;
  background-color: transparent;
  border: 1px solid #ea7266;
}

.main-background {
  height: 260px;
  background-image: url(./img/bg-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-group {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.search-input,
.cancel-btn,
.search-btn,
.location-btn {
  box-sizing: border-box;
  border: none;
}

.location-btn {
  padding: 0 12px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-input {
  width: 300px;
  padding: 15px 10px 12px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cancel-btn {
  margin-left: -2px;
  padding: 0 10px;
}

.search-btn {
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.food-category {
  padding: 10px 20px 30px;
  background-color: #fafafa;
}

.food-category-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.food-category-grid-item {
  aspect-ratio: 1/1;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.food-category-img {
  width: 100%;
  display: block;
}

.food-category-title {
  position: absolute;
  margin: 0;
  top: 15px;
  left: 15px;
}

.footer {
  background-color: #fafafa;
}

.footer-link > .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-link-left,
.link-sns {
  margin: 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link-left {
  flex-grow: 1;
}

.company-information {
  padding: 30px 0;
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.yogiyo-logo-gray {
  background: url("./img/img-footer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 70px;
  height: 27px;
}

.information-btn {
  background-color: white;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.information-btn::after {
  content: ">";
  padding-left: 10px;
}

.company-information-title {
  margin-top: 0;
}

.mark-call-group {
  padding-left: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 30px 0;
}

.mark {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mark1,
.mark2 {
  display: inline-block;
  background-image: url(./img/img-footer1.png);
  background-repeat: no-repeat;
  width: 39px;
  height: 45px;
}

.mark1 {
  background-position: 0 -25px;
}

.mark2 {
  background-position: -38px -25px;
}

.call-center-number {
  margin-right: -20px;
}/*# sourceMappingURL=style.css.map */