@charset "UTF-8";
html {
  line-height: 1.5;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

div,
footer,
header,
section,
main,
ul,
li {
  box-sizing: border-box;
}

.bg-black {
  background-color: black;
}

.cl-white {
  color: white;
}

.cl-gray {
  color: gray;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

footer > .footer-container, .question > .question-container, .charge > .charge-container, .why > .why-container, .download > .download-container, .poster > .poster-container, .nav-container {
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;
}

.footer-content::after {
  content: "";
  clear: both;
  display: block;
}

.nav-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.nav-right {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: baseline;
  align-items: stretch;
  gap: 20px;
}
.nav-right > li > a {
  font-weight: 600;
}
.nav-right > li:nth-child(3)::after {
  content: "|";
  margin-left: 20px;
  color: white;
}

.poster {
  background-color: #7d2f95;
}
.poster > .poster-container {
  padding: 30px 0;
  display: flex;
  justify-content: baseline;
  align-items: stretch;
  gap: 0;
}

.poster-left {
  margin-right: 50px;
}
.poster-left > h1 {
  margin-top: 40px;
  font-size: 30px;
}
.poster-left > h2 {
  width: 95%;
  margin-top: 40px;
  font-size: 25px;
}

.poster-left-btn-div {
  margin-top: 40px;
}
.poster-left-btn-div > button {
  padding: 15px 25px;
  margin-right: 10px;
  border-radius: 35px;
  border: none;
  font-size: 16px;
}

.poster-left-promise {
  max-width: 630px;
  margin-top: 40px;
  font-size: 12px;
}
.poster-left-promise > strong {
  text-decoration: underline;
}

.download {
  background-color: #eee;
}
.download > .download-container {
  padding: 72px 0;
}

.download-btn-div > .download-google-btn > h4:nth-child(2),
.download-btn-div .download-appstore-btn > h4:nth-child(2), .download-btn-div > .download-google-btn > span:first-child,
.download-btn-div .download-appstore-btn > span:first-child {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.download-btn-div {
  margin-top: 50px;
  margin-bottom: 30px;
}
.download-btn-div > .download-google-btn,
.download-btn-div .download-appstore-btn {
  width: 150px;
  height: 40px;
  margin: 0 10px;
  display: inline-block;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.download-btn-div > .download-google-btn > span:first-child,
.download-btn-div .download-appstore-btn > span:first-child {
  display: block;
  font-size: 10px;
  top: 17px;
}
.download-btn-div > .download-google-btn > h4:nth-child(2),
.download-btn-div .download-appstore-btn > h4:nth-child(2) {
  margin: 0;
  top: 37px;
}

.download-promise {
  max-width: 630px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 2.5;
}

.why > .why-container {
  padding: 50px 0;
}

.why-ul {
  padding: 0;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.why-ul > li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}
.why-ul > li > h3 {
  margin-bottom: 0;
  font-size: 20px;
}
.why-ul > li > p {
  padding: 0 20px;
}
.why-ul > li > img {
  margin: 0px auto 40px;
  display: block;
}

.charge {
  background-color: #eee;
}
.charge > .charge-container {
  padding: 75px 0;
}

.charge-grid {
  padding: 75px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 2fr 3fr 2fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.charge-grid-footer, .charge-grid-middle, .charge-grid-header {
  padding: 15px 20px;
  background-color: #fff;
}

.charge-grid-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
  position: relative;
}
.charge-grid-header > .charge-grid-border-bottom {
  height: 1px;
  width: calc(100% - 40px);
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.charge-grid-header > * {
  margin: 5px 0;
}

.charge-grid-middle {
  box-shadow: rgba(0, 0, 0, 0.3019607843) 0px 0px 8px;
}
.charge-grid-middle > ul > li {
  margin-bottom: 15px;
}
.charge-grid-middle > ul > li::before {
  content: "✓";
  margin-right: 16px;
  font-size: 20px;
}

.charge-grid-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgb(255, 255, 255) 0px -9px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
}
.charge-grid-footer > p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
}

.charge-free-btn {
  padding: 5px 10px;
  display: block;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
}

.charge-start-btn {
  width: 100%;
  padding: 15px 0;
  display: block;
  color: white;
  border-radius: 35px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.question {
  background-color: #eee;
}
.question > .question-container {
  padding: 75px 0;
}
.question > .question-container > h1 {
  margin: 0;
}
.question > .question-container > h2 {
  margin-top: 5px;
  font-weight: 500;
}
.question > .question-container > ul {
  margin-top: 75px;
}
.question > .question-container > ul > li {
  padding: 30px;
  margin: 2px 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.question-dropdown-div {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.question-dropdown-div::after {
  content: "▽";
  font-size: 25px;
}

footer > .footer-container {
  padding: 75px 0;
}

.footer-content {
  margin-bottom: 75px;
}
.footer-content-left {
  width: 80%;
  float: left;
}
.footer-content-left > ul {
  padding-right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 70px;
}
.footer-content-left > ul > li > ul > li {
  margin-bottom: 15px;
}
.footer-content-left > ul > li > ul > li:first-child {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-content-right {
  width: 20%;
  float: right;
}
.footer-content-right > i {
  padding: 17px;
  margin-left: 10px;
  font-size: 20px;
  background-color: #333;
  border-radius: 50%;
}

.footer-content-left-img {
  margin-top: -10px;
}

.footer-lang {
  padding-top: 75px;
  font-size: 12px;
}

.footer-last-div {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0px;
}
.footer-last-div > ul {
  display: flex;
  justify-content: baseline;
  align-items: stretch;
  gap: 20px;
}/*# sourceMappingURL=spotify_membership.css.map */