@use '../spotify_normalize/reset';

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}

%container {
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;
}
%clear {
  content: '';
  clear: both;
  display: block;
}

// <<<<<<<<<<<<네비게이션 바 >>>>>>>>>>>>//
.nav-container {
  padding: 20px 0;
  @extend %container;
  // @include flex(space-between, center, 0px);
  @include reset.flex(space-between, center, 0px);
}

.nav-right {
  margin: 0;
  padding: 0;
  @include reset.flex(baseline, stretch, 20px);
  > li {
    > a {
      font-weight: 600;
    }
    &:nth-child(3)::after {
      content: '|';
      margin-left: 20px;
      color: white;
    }
  }
}

//<<<<<<<<<<<<<<<포스터>>>>>>>>>>>>>>>//
.poster {
  background-color: #7d2f95;

  > .poster-container {
    padding: 30px 0;
    @extend %container;
    @include reset.flex(baseline, stretch, 0);
  }
}

.poster-left {
  margin-right: 50px;

  > h1 {
    margin-top: 40px;
    font-size: 30px;
  }
  > h2 {
    width: 95%;
    margin-top: 40px;
    font-size: 25px;
  }
}

.poster-left-btn-div {
  margin-top: 40px;

  > button {
    padding: 15px 25px;
    margin-right: 10px;
    border-radius: 35px;
    border: none;
    font-size: 16px;
  }
}
.poster-left-promise {
  max-width: 630px;
  margin-top: 40px;
  font-size: 12px;

  > strong {
    text-decoration: underline;
  }
}

// <<<<<<<<<<<<<<다운로드영역>>>>>>>>>>>>>>>>>>
.download {
  background-color: #eee;

  > .download-container {
    @extend %container;
    padding: 72px 0;
  }
}

%download-btn-common {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.download-btn-div {
  margin-top: 50px;
  margin-bottom: 30px;

  > .download-google-btn,
  .download-appstore-btn {
    width: 150px;
    height: 40px;
    margin: 0 10px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    > span:first-child {
      @extend %download-btn-common;
      display: block;
      font-size: 10px;
      top: 17px;
    }
    > h4:nth-child(2) {
      @extend %download-btn-common;
      margin: 0;
      top: 37px;
    }
  }
}

.download-promise {
  max-width: 630px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 2.5;
}

// <<<<<<<<<<<<<<<<WHY>>>>>>>>>>>>>>>>>>>
.why {
  > .why-container {
    @extend %container;
    padding: 50px 0;
  }
}

.why-ul {
  padding: 0;
  margin-top: 75px;
  @include reset.flex(center, stretch, 20px);
  > li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    > h3 {
      margin-bottom: 0;
      font-size: 20px;
    }
    > p {
      padding: 0 20px;
    }
    > img {
      margin: 0px auto 40px;
      display: block;
    }
  }
}

//<<<<<<<<<<<<<<<요금제>>>>>>>>>>>>>>>>>>>>
.charge {
  background-color: #eee;

  > .charge-container {
    @extend %container;
    padding: 75px 0;
  }
}
.charge-grid {
  padding: 75px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 2fr 3fr 2fr;
  column-gap: 20px;
}

%charge-grid-common {
  padding: 15px 20px;
  background-color: #fff;
}

.charge-grid-header {
  @extend %charge-grid-common;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
  position: relative;

  > .charge-grid-border-bottom {
    height: 1px;
    width: calc(100% - 40px);
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  > * {
    margin: 5px 0;
  }
}

.charge-grid-middle {
  @extend%charge-grid-common;
  box-shadow: #0000004d 0px 0px 8px;

  > ul {
    > li {
      margin-bottom: 15px;
      &::before {
        content: '✓';
        margin-right: 16px;
        font-size: 20px;
      }
    }
  }
}

.charge-grid-footer {
  @extend%charge-grid-common;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgb(255, 255, 255) 0px -9px 0px 0px,
    rgba(0, 0, 0, 0.3) 0px 0px 8px;

  > p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 12px;
  }
}

.charge-free-btn {
  padding: 5px 10px;
  display: block;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
}
.charge-start-btn {
  width: 100%;
  padding: 15px 0;
  display: block;
  color: white;

  border-radius: 35px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

// <<<<<<<<<<<<<<<<<<question>>>>>>>>>>>>>>>>>>>>>
.question {
  background-color: #eee;

  > .question-container {
    @extend %container;
    padding: 75px 0;

    > h1 {
      margin: 0;
    }
    > h2 {
      margin-top: 5px;
      font-weight: 500;
    }
    > ul {
      margin-top: 75px;

      > li {
        padding: 30px;
        margin: 2px 0;
        background-color: #fff;
        font-size: 18px;
        font-weight: 600;
        position: relative;
      }
    }
  }
}

.question-dropdown-div {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &::after {
    content: '▽';
    font-size: 25px;
  }
}

// <<<<<<<<<<<<<<<<<footer>>>>>>>>>>>>>>>>>>>>

footer {
  > .footer-container {
    @extend %container;
    padding: 75px 0;
  }
}

.footer-content {
  margin-bottom: 75px;

  &::after {
    @extend %clear;
  }
}

.footer-content-left {
  width: 80%;
  float: left;

  > ul {
    padding-right: 50px;
    @include reset.flex(flex-start, stretch, 70px);
    > li {
      > ul {
        > li {
          margin-bottom: 15px;

          &:first-child {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.footer-content-right {
  width: 20%;
  float: right;

  > i {
    padding: 17px;
    margin-left: 10px;
    font-size: 20px;
    background-color: #333;
    border-radius: 50%;
  }
}
.footer-content-left-img {
  margin-top: -10px;
}

.footer-lang {
  padding-top: 75px;
  font-size: 12px;
}
.footer-last-div {
  margin-top: 20px;
  font-size: 12px;
  @include reset.flex(space-between, stretch, 0px);
  > ul {
    @include reset.flex(baseline, stretch, 20px);
  }
}
