div,
ul,
li {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  padding-left: 0;
}
body {
  margin: 0;
}
.header_inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.header_top {
  padding: 14px 0;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}
.header_top > a {
  margin-left: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
}
.nav_menu a {
  font-weight: 600;
  margin-left: 30px;
}
