@use '../spotify_normalize/reset';

html,
body {
  width: 100%;
  height: 100%;
}
.bg-dark-black {
  background-color: #080808;
}
.bg-light-black {
  background-color: #141313;
}
.bg-bright-black {
  background-color: #212121;
}

%btn {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
%btn-white {
  background-color: white;
  font-size: 14px;
}
%btn-black {
  background-color: black;
  color: white;
  border: 1px solid white;
}

//스크롤커스텀
@mixin scrollCustom($className) {
  .#{$className}::-webkit-scrollbar {
    width: 15px;
    display: none;
  }
  .#{$className}:hover::-webkit-scrollbar {
    display: block;
  }
  .#{$className}::-webkit-scrollbar-thumb {
    background-color: #333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@include scrollCustom((right-big));
@include scrollCustom((left-big-bottom));

.root {
  height: 100%;
  padding: 8px;
  > .wrap-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 7fr 1fr;
    gap: 10px;
  }
}

// <<<<<<<<<<<<<왼쪽 큰 박스>>>>>>>>>>>>>>>>>>>

.left-big-top {
  grid-column: 1/2;
  grid-row: 1/2;
  > ul {
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    @include reset.flex(baseline, stretch, 20px);
    flex-direction: column;
    > li {
      @include reset.flex(flex-start, center, 20px);
    }
  }
}

.left-big-bottom {
  padding: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
  overflow-y: scroll;
  border-radius: 10px;

  > h3 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 15px;
    position: relative;

    > .fa-plus {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    > .fa-book {
      margin-right: 10px;
    }
  }
}

.left-big-bottom-playlist,
.left-big-bottom-podcast {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  > h4 {
    margin: 10px 0;
  }
  > p {
    margin: 10px 0;
    font-size: 14px;
  }
  > button {
    @extend %btn;
  }
}

.left-big-bottom-footer {
  padding: 0 15px;
  font-size: 12px;

  > ul {
    @include reset.flex(flex-start, safe, 15px);
  }
  > button {
    @extend %btn;
    @extend %btn-black;
    padding: 5px 10px;
    font-size: 16px;
  }
}

//<<<<<<<<<<<<<<<<<<오른쪽 큰 박스>>>>>>>>>>>>>>>>>>//
.right-big {
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  border-radius: 10px;
  overflow-y: scroll;
  position: relative;
  //오른쪽 큰 박스 헤더
  > .right-big-header {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include reset.flex(space-between, center, 0);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  //오른쪽 큰 박스 내용
  > .right-big-content {
    padding: 10px 20px;
  }
}

.right-big-header-left {
  font-size: 20px;
  > i {
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.right-big-header-right {
  > .join-btn {
    @extend .login-btn;
    background-color: transparent;
  }
  > .login-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
  }
}
//인기 리스트 그리드
@mixin popularGird($val, $url, $radius) {
  .popular-#{$val}-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    grid-template-rows: 1fr;

    > .#{$val}-card {
      padding: 10px;
      > .#{$val}-img {
        max-width: 100%;
        aspect-ratio: 1/1;
        background-image: url($url);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: $radius;
      }
      > h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
      }
      > p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

@include popularGird(artist, './img/다운로드.png', 50%);
@include popularGird(album, './img/images.png', 5px);
@include popularGird(radio, './img/릴러말즈.png', 5px);

//오른쪽 큰 박스 푸터
.right-big-footer {
  width: 100%;
  padding: 75px 20px;

  > .footer-container {
    width: 100%;
    padding: 0 10px;
    > p:last-child {
      margin: 30px 0;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.footer-content {
  border-bottom: 0.1px solid gray;
  padding-bottom: 30px;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.footer-content-left {
  width: 70%;
  float: left;

  > ul {
    @include reset.flex(flex-start, stretch, 0);
    > li {
      width: 25%;
      > ul {
        > li {
          margin-bottom: 10px;

          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.footer-content-right {
  width: 30%;
  float: right;

  > i {
    padding: 17px;
    margin-left: 10px;
    font-size: 20px;
    background-color: #333;
    border-radius: 50%;
  }
}

.footer-content-left-img {
  margin-top: -10px;
}

.alert {
  padding: 10px 20px;
  grid-column: 1/3;
  grid-row: 3/4;
  position: relative;
  background: linear-gradient(90deg, rgb(167, 34, 180), 40%, rgb(31, 107, 169));
  > h4 {
    margin: 0;
  }
  > p {
    margin: 0;
  }
  > button {
    @extend %btn;
    @extend %btn-white;
    padding: 15px 20px;
    margin: 0;
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
